/*csslint adjoining-classes: false, box-model:false*/
.pure-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pure-menu-condensed {
 line-height: 1.2em;
 font-size: 90%;
}

.pure-menu-expanded {
 line-height: 2em;
}

.pure-menu-fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}

.pure-menu-list,
.pure-menu-item {
    position: relative;
}

.pure-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pure-menu-item {
    padding: 0;
    margin: 0;
/*     height: 100%; */
    height: auto;
}

.pure-menu-link,
.pure-menu-control,
.pure-menu-heading,
.pure-menu-description {
    display: block;
    text-decoration: none;
}

.pure-menu-description {
    font-size: 80%;
}
