/*csslint outline-none:false*/

.pure-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    border: 1px solid transparent;
    text-decoration: none;
}

.pure-button:focus {
    outline: 0;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.pure-button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.button-group {
    display: table;
}

.button-group .pure-button,
.button-group .button-group-divider {
    border-radius: 0;
    display: table-cell;
    margin-left: 1px;
    position: relative;
}

.button-group .button-group-divider {
    min-width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 1em;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin: 0 -0.8em;
    z-index: 1;
}
