.app,
.app-view,
.app-sidebar,
.app-toolbar {
  background-color: #BackgroundColor;
}
.app-sidebar,
.app-toolbar {
  border-color: #BorderColor;
}

.app-toolbar .pure-menu-active > .pure-menu-link,
.app-toolbar .pure-menu-link:hover,
.app-toolbar .pure-menu-link:focus {
    background-color: #BackgroundHover;
}

.app-toolbar-primary > .pure-menu {
  background-color: #AccentColor;
  border-color: #AccentColor;
}
.app-toolbar-primary,
.app-toolbar-primary .pure-menu-link,
.app-toolbar-primary .pure-menu-control,
.app-toolbar-primary .pure-menu-heading {
  color: #AccentText;
  fill: #AccentText;
}
.app-toolbar-primary .pure-menu-active > .pure-menu-link,
.app-toolbar-primary .pure-menu-link:hover,
.app-toolbar-primary .pure-menu-link:focus {
    background-color: rgba(255,255,255,0.2);
}

.layout--menu-header {
  border-color: #BorderColor;
}
.layout--menu-list .pure-menu-heading {
    background-color: #BackgroundShade;
}
.layout--menu-list .pure-menu-link,
.layout--menu-list .pure-menu-control {
    border-bottom: 1px solid #BorderColor;
}
.layout--menu-list .pure-menu-description {
    padding-top: 1em;
    padding-bottom: 1.5em;
    background-color: #BackgroundShade;
    border-bottom: 1px solid #BorderColor;
}
