/*csslint important:false*/

/* ==========================================================================
   Pure Base Extras
   ========================================================================== */

/**
 * Extra rules that Pure adds on top of Normalize.css
 */

/**
 * Always hide an element when it has the `hidden` HTML attribute.
 */

.hidden,
[hidden] {
    display: none !important;
}

/**
 * Add this class to an image to make it fit within it's fluid parent wrapper while maintaining
 * aspect ratio.
 */
.pure-img {
    max-width: 100%;
    height: auto;
    display: block;
}
.pure-img-rounded {
    border-radius: 50%;
}
.pure-img-bordered {
    border: 0.15em solid;
    box-sizing: border-box;
}

.pure-tag {
  display: inline-block;
  font-size: 80%;
  padding: 0 0.5em;
  border-radius: 4px;
  border: 0.15em solid;
  box-sizing: border-box;
}
